@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Zerando CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    margin-left: -40%;
    height: 150%;

}
/* Fundo-tela */

html {
    width: 100vw;
    height: 50vw;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)),url(02.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}


 .dark .card-login {
    background: linear-gradient(135deg, #494949 0%, #111111 60%);
    border-radius: 20px; /* arredonda osrgb(255, 255, 255) da borda. */
    box-shadow: 2px 5px 15px black;
}

/* Menu - Header - NavBar */

header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex; /* Um do lado do outro*/
    justify-content: space-around; /* Espaçamento entre eles e da borda*/
    align-items: center;
    font-size: 1.6rem;
}

.logo {
    color: #8a0202;
    font-size: 1.7rem; /* 17px */
    letter-spacing: 0.4rem; /* distanciamento de letras*/
    cursor: pointer; /* Opcional ver com o paz*/
}

.menu-content .list-itens {
    display: flex;
    list-style: none; /*tira bolinha da lista*/
    gap: 8px; /* distanciamento de cada um deles*/
}

.menu-content .list-itens a {
    text-decoration: none; /* sublinhamento do link*/
    color: rgb(255, 255, 255);
    padding: 1.8rem; /* area de contato*/
    transform: 2ms ease-in;
    position: relative;
}


.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(255, 0, 0);
    transition: all 1.5s ease; 
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

/* Centro - Conteudo Principal */

main {
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Textos conteudo principal */

.primary-text {
    width: 900px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

/* Botões */


.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: rgb(255, 0, 0);
    border: none;
}

.btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(71, 70, 70);
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}

body.dark {
    background: #292c35;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #000000;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(0.9);
  
  }
  
  
  .label .ball {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }


  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    
    
}

body * {
    box-sizing: border-box; 
}

.main-login {
    width: 100vw;  
    height: 50vw;  
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.left-login-image {
    width: 40vw; /* img responsiva */
    margin-top: 5%;
    margin-left: 5%;
}

.right-login {
    width: 50vw; /* largura. */ 
    height: 50vh; /* altura. */ 
    display: flex; /* elementos posicionados lado a lado. */
    justify-content: center; /* distribui o espaço entre e ao redor dos itens.*/
    align-items: center; /* alinha itens. */
}

.card-login {
    width: 60%; /* largura. */
    display: flex; /* elementos posicionados lado a lado. */
    justify-content: center; /* distribui o espaço entre e ao redor dos itens.*/
    align-items: center; /* alinha itens. */
    flex-direction: column; /* especificar que o item tem direção de texto normal. */
    padding: 30px 35px; /* espaço entre seu conteúdo e sua borda. */ 
    background: linear-gradient(135deg, #9b1111 1%, #1f1f20 45%);
    border-radius: 20px; /* arredonda os cantos da borda. */
    box-shadow: 2px 5px 15px black;
}

.card-login h1 {
    color:#8a0202;
}

.textfild {
    width: 100%; /* largura. */
    display: flex; /* elementos posicionados lado a lado. */
    flex-direction: column; /* especificar que o item tem direção de texto normal. */
    align-items: flex-start; /* alinha itens. */
    justify-content: center; /* distribui o espaço entre e ao redor dos itens.*/
    margin: 10px 0px;
}

.textfild input {
    width: 100%; /* largura. */
    border: none; /* tira borda. */
    border-radius: 10px; /* arredonda os cantos da borda. */
    padding: 15px; /* espaço entre seu conteúdo e sua borda. */ 
    background: #000000;
    color: #f0ffffde;
    font-size: 12pt; /* tamanho da fonte. */
    box-shadow: 0px 10px 40px color #00000056; /* efeito de sombra. */
    outline: none;  /* Tira caixa em volta do input ao passar o cursor*/
    box-sizing: border-box; /* define largura e a altura total do elemento */
}

.textfild label {
    color: #f0ffffde;
    margin-bottom: 10px; /*  área da margem na parte inferior */ 
}

.textfild input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%; /* largura. */
    padding: 16px 0px; /* espaço entre seu conteúdo e sua borda. */ 
    border: none; /* tira borda. */
    border-radius: 8px; /* arredonda os cantos da borda. */
    outline: none;  /*Tira caixa em volta do botão ao passar o cursor*/
    text-transform: uppercase; /* letras maiúsculas*/
    font-weight: 800; /* latencia negrito */
    letter-spacing: 2px; /* espaçamento de letras */
    color: #ffffff;
    background: #8a0202;
    cursor: pointer; /* ao passar o cursor por cima */
    box-shadow: 0px 10px 40px -12px #ff000052; /* efeito de sombra. */
}

@media only screen and (max-width: 950px) { /* responsividade a partir desta resolução... */
    .card-login{
    width: 85%;
    }
}

@media only screen and (max-width: 600px) { /* responsividade a partir desta resolução... */
    .main-login {
        flex-direction: column;
    }

    .left-login h1 {
        display: none;;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 60vw;
    }

    .card-login {
        width: 90%;
    }
}

